@font-face {
  font-family: "Mona Sans";
  src: url("../fonts/MonaSans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  font-family: "Mona Sans", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Убедитесь, что контейнеры не растягиваются */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.ant-tooltip-inner {
  background: #2D384B !important;
  color: #fff !important;
  border-radius: 8px !important;
  font-size: 13px !important;
  max-width: 180px;
  padding: 10px 14px !important;
  text-align: center !important;
  line-height: 15px;
  font-weight: 600;
}

.ant-tooltip-arrow::before {
  background: #2D384B !important;
}